<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ProjectValidation" >
	<suite-files>
		<suite-file
			path="./src\test\resources\suites\ProjectTestcase1.xml" />
		<suite-file
			path="./src\test\resources\suites\ProjectTestcase2.xml" />
	</suite-files>
</suite> <!-- ProjectValidation -->
